{% extends "base.html" %}

{% set title = "Jonathon Toon" %}
{% set author = "Jonathon Toon" %}
{% set description = "Jonathon Toon is a software designer working remotely from Sydney, Australia." %}
{% set keywords = "design, software, product, new zealand, sydney, technology, javascript" %}

{% set og_title = "Jonathon Toon" %}
{% set og_description = "Jonathon Toon is a software designer working remotely from Sydney, Australia." %}
{% set og_url = "https://www.jonathontoon.com/" %}
{% set og_image = "images/og-image.png" %}

{% set twitter_site = "@jonathontoon" %}

{% block content %}
	<main>
		{% include "information.html" %}
	</main>
{% endblock %} 
