/* Reset */
@import url("reset.css");

:root {
  --background-color: #dddddd;
  --primary-text-color: #000000;
  --secondary-text-color: #333333;
  --link-text-color: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0F0F11;
    --primary-text-color: #ffffff;
    --secondary-text-color: #AAAAAA;
    --link-text-color: #CCCCCC;
  }
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.0rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--primary-text-color);

  background-color: var(--background-color);
  perspective: 1000px;
  perspective-origin: 50% 100px;
  transition: perspective 0.5s ease;
}

h1, h2 {
  letter-spacing: -0.025em;
  font-weight: 700;
}

h2 {
  margin-bottom: 0.25rem;
}

p {
  margin-bottom: 1rem;
}

p, ul, a, span {
  color: var(--secondary-text-color);
  letter-spacing: -0.01em;
}

ul {
  list-style-type: disc;
}

li {
  margin-left: 1.5rem;
}

a {
  color: var(--link-text-color);
}

main {
  position: relative;
  margin: 2rem;
  margin-top: 3rem;
  height: 100%;
}

canvas {
  display: none;
}

header, article {
  margin-bottom: 3rem;
}

img {
  width: 100%;
  max-width: 120px;
  margin-bottom: 2rem;
}

footer {
  font-size: 0.75rem;
  margin-bottom: 4rem;
}

#information {
  position: absolute;
}

#projects ul li {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 32rem) {
  body {
    font-size: 1.5rem;
  }
  
  h2 {
    margin-bottom: 1rem;
  }

  main {
    margin: 5rem;
    margin-top: 6rem;
    max-width: 32rem;
  }

  header, article {
    margin-bottom: 5rem;
  }

  img {
    max-width: 180px;
    margin-bottom: 4rem;
  }

  footer {
    font-size: 1.0rem;
    margin-bottom: 5rem;
  }
}
