<section id="information">

    <header>
        <img src="images/toon.png" alt="Photo of Jonathon Toon" />
        <h1>Jonathon Toon</h1>
        <p>Software Designer</p>    
    </header>

    <article>
        <h2>About</h2>    
        <p>I'm a multi-disciplinary designer, with over ten years of experience. That I've built up while working with teams big and small across the United States, Japan and Australia.</p>
        <p>Now, I'm back home. Living in Canterbury, New Zealand, where I spend my free time reading about the history of video game development and riding track bikes.</p>        
    </article>

    <article>
        <h2>Interests</h2>
        <p>Things I spend my time reading over, tinkering with and learning about.</p>  
        <ul>
            <li>Open-Source Technologies</li>
            <li>Cryptography</li>
            <li>Game Design / Theory</li>
            <li>TypeScript / Lua</li>
        </ul>   
    </article>

    <article>
        <h2>Work</h2>    
        <p>Presently I lead design at <a href="https://www.moneytree.jp/" target="_blank">Moneytree</a>, where we are building a privacy-first financial data platform. Before that I worked with product and design teams at <a href="https://www.rainforestqa.com/" target="_blank">Rainforest</a>, <a href="https://www.techinasia.com/mercari-acquires-origami/" target="_blank">Origami</a>, <a href="https://www.xero.com/" target="_blank">Xero</a> and <a href="https://www.facebook.com/" target="_blank">Facebook</a>.</p>
        <p>For more details you may request the latest version of my portfolio.</p>    
    </article>

    <article id="projects">
        <h2>Projects</h2>
        <p>A few ideas that I've gone ahead and built in my spare time. You can support them if you like by <a href="https://www.buymeacoffee.com/KLEzuxU" target="_blank">donating here</a>.</p> 
        <ul>
            <li><a href="https://www.figma.com/community/file/1023941504502682147" target="_blank">PICO-8 Color Palette</a> — A set of Figma color styles from the fantasy console PICO-8.</li>
            <li><a href="https://github.com/jonathontoon/manifest/" target="_blank">Manifest</a> — An incredibly simple grid-based pinboard for note taking.</li>
            <li><a href="https://github.com/jonathontoon/tweet-tray/" target="_blank">Tweet Tray</a> — Compose tweets quickly from the desktop without any distractions.</li>
        </ul>
    </article>

    <article>
        <h2>Contact</h2>
        <p>I'd be happy to write back if you'd like to send me an <a href="mailto:hi@jonathontoon.com" target="_blank">email</a>. Otherwise you can follow me on <a href="https://twitter.com/jonathontoon/" target="_blank">Twitter</a>, <a href="https://github.com/jonathontoon/" target="_blank">Github</a> or <a href="https://linkedin.com/in/jonathontoon/" target="_blank">LinkedIn</a>.</p>  
    </article>

    <footer>
        <p>The information on this web page was last updated {{ buildDate }}. Content provided under <a href="https://creativecommons.org/licenses/by-nc/3.0/" target="_blank">CC BY-NC 3.0</a>.</span> 
    </footer>

</section>
